{% extends "index" %}

{% block content%}


  {% set image = entry.heroBackgroundImage.one() %}
    <section class="hero" style="background-image: url('{{ image.url }}')">
      <div class="flex items-center">

        <h1 class="text-8xl font-black max-w-6xl pt-80px max-[680px]:text-5xl p-2 top-0.5">{{ entry.heroTitle }}</h1>
        
      </div>
    </section>

    <section class="pt-2" id="featured-work">
      <div class="container mx-auto">

        <div class="mx-auto py-8 text-center">

          <h2 class="text-4xl font-bold py-2 max-[680px]:text-3xl">{{ entry.sliderTitle }}</h2>
          
          <p class="pb-4 max-w-4xl mx-auto">{{ entry.sliderDescription }}</p>

          
          <!-- Slider Component -->
          <div class="max-w-5xl mx-auto overflow-hidden">
            
             
            <div class="slider__reel">
              {% set blocks = entry.sliderImages.all() %}
                {% for block in blocks %}

                  {% if block.type == 'slide' %}
                      {% set image = block.slideImage.one() %}
                        <img src="{{ image.url }}" alt="{{ image.title }}" class="slider__image">
                  {% endif %}

                {% endfor %}

            </div>
          
          </div>
          
        </div>
        
      </div>
    </section>
    
{% endblock %}